body { font-family: sans-serif; }

#input{
    border: none;
    outline: none;
    text-align: center;
    background: transparent;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: fit-content;
    margin-top: 10px;
    font-size: 42px;
    height:60px;
    width: 200px;
}

.timer-container{
    border: 2px solid rgb(179, 179, 184);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:200px;
    padding:5px;
    margin-right: 15px;
}

#wrong-guesses, #guesses-left, #total-wins{
    /* margin: 0 auto; */
    font-weight: bolder;
    color:green;
    float: right;
}

.info-container{
    border-radius: 10%;
    border: 2px solid rgb(179, 179, 184);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:200px;
    flex-wrap: nowrap;
    padding:5px;
    margin-left: 15px;
}

#header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: fit-content;
    margin-top: 20px;
    font-size: 22px;
}

#heder-middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
    margin-top: 20px;
    font-size: 42px;
    /* height:60px;
    width: 200px; */
}

#button-container{
    display: flex;
    margin: 10px auto;
    width: fit-content;
    font-size: 42px;
    height:60px;
    width: 200px;
}

#resetButton{
    width: 100%;
}

.game-wrapper {
    display:flex;
    margin: 10px auto;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

.card {
    perspective: 600px;
    border: 3px solid rgb(179, 179, 184);
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 0.5s;
  }

  .card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }

  .card__face:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .custom-control-label{
    font-size: 20px;
    padding:0 !important;
  }

  .custom-switch{
    padding-top: 10px;
    padding-bottom: 0px !important;
    margin: 0 auto;
    height: 41px;
  }

  .card__face--front {
    background: rgb(59, 47, 47);
    display: flex;
    justify-content: center;
  }
  
  .card__face--back {
    display: flex;
    justify-content: center;
    background: rgb(72, 72, 115);
    transform: rotateY( 180deg );
  }

  .number,#fade-number{
    margin: auto;
    color:white;
  }

  button {
    width:50px;
    height:60px;
  }

#win-message {
    margin: 0 auto;
    /* width: 347px; */
    width: fit-content;
}

#message-container {
    /* width:35px; */
    height:35px;
    margin:0 auto;
}

  .number, .fade-number {
    margin: auto;
  }

  .fade-number {
    opacity: 0;
    transition: opacity 3s;
  }

  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }

  @media screen and (max-width: 800px) {
    .game-wrapper {
      width: 100%;
      height:100%;
    }

    #message-container{
        width: 100%;
    }

    #header{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .info-container, .timer-container{
        width: 80%;
        margin: 0;
    }

    .info-container{
        order: 1;
    }

    .timer-container{
        margin-top: 5px;
        order: 2;
    }
  }
    
  